<% include partials/header %>

<section id="content__personal" class="content">
    <div id="main__content" class="container">
        <div class="row">
            <div class="col-lg-4">
                <ul class="accordion-menu">
                    <li>
                        <a class="link" href="/">
                            <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i>
                                Главная страница
                                <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                        </a>
                    </li>

                    <li>
                        <a class="link" href="../trash/cabinet.html">
                            <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i>
                                Мой профиль
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                        </a>
                    </li>

                    <li>
                        <div class="dropdownlink"><i class="fa fa-quote-left" aria-hidden="true"></i>
                            Список олимпиад
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </div>
                        <ul class="submenuItems">
                            <li><a href="#">олимпиада 1</a></li>
                            <li><a href="#">олимпиада 2</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="link" href="">
                            <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i>
                                Настройки
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="col-lg-8">
                <div class="content__text__personal">
                    <div class="admin__olympiad__padding">

                        <div class="olympiad__name">
                            Олимпиада 1
                        </div>

                        <select name="nomination" class="turnintodropdown" onchange="getSelectValue()" required>
                            <option selected disabled value=''>Выберите номинацию:</option>
                            <option value="s1">Экология</option>
                            <option value="s2">Краеведение</option>
                            <option value="s3">Туризм</option>
                        </select>


                        <%
                        var jsonSchoolboy =  {
                            "users": [{
                                "id" : 0,
                                "link" : " https://www.google.ru/search?newmg",
                                "SchoolboyName": "Илья",
                                "SchoolboySurname": "Мельников",
                                "SchoolboyExpert" : "Павел Петрович"
                            }, {
                                "id" : 1,
                                "link" : " https://www.google.ru/search?newmg",
                                "SchoolboyName": "Warface",
                                "SchoolboySurname": "Сила",
                                "SchoolboyExpert" : "Петро Порошенко"
                            },
                                {
                                "id" : 2,
                                "link" : " https://www.google.ru/search?newmg",
                                "SchoolboyName": "json",
                                "SchoolboySurname": "Могила",
                                "SchoolboyExpert" : "Слава Онэмэ"
                            }]
                        }
                        %>


                        <table class="tableSchoolboy" id="Schoolboys">
                            <tr>
                                <th>ФИО</th>
                                <th>Документ</th>
                                <th>Проверяющий</th>
                                <th>Редактирование</th>
                            </tr>


                            <% if (jsonSchoolboy.users.length > 0){
                            for (var i = 0; i < jsonSchoolboy.users.length; i++) { %>

                            <tr>
                                <td>
                                    <p  class="tableSchoolboyColumnFIO">
                                        <%= jsonSchoolboy.users[i].SchoolboyName%>
                                        <%= jsonSchoolboy.users[i].SchoolboySurname%>
                                    </p>
                                </td>
                                <td>
                                   <a href="">
                                       <p class="tableSchoolboyColumnLink">
                                        <%= jsonSchoolboy.users[i].link%>
                                       </p>
                                   </a>
                                </td>
                                <td class="tableSchoolboyColumn">
                                    <p class="tableSchoolboyColumnExpert">
                                        <%= jsonSchoolboy.users[i].SchoolboyExpert%>
                                    </p>
                                </td>
                                <th id="tableButton">
                                    <button id="<%= jsonSchoolboy.users[i].id%>" class="tableSchoolboyButton" type="submit">
                                        ИЗМЕНИТЬ
                                    </button>
                                </th>
                            </tr>

                            <%  }
                            } else { %>

                            <p>
                                НЕТ ШКОЛЬНИКОВ
                            </p>

                            <% } %>

                        </table>

                        <!-- скрипт для получения id кнопки -->
                        <script>
                        $(document).ready(function(){
                            $('.tableSchoolboyButton').click(function(e) {
                                var selectedButtonId =  $(this).attr('id');

                                //возмзможно в этой строчке дело
                                e.preventDefault();


                                var data = {};
                                data.id = selectedButtonId;

                                $.ajax({
                                    type: 'POST',
                                    data: JSON.stringify(data),
                                    contentType: 'application/json',
                                    url: 'http://localhost:3000/endpoint',
                                    success: function(data) {
                                        console.log('success');
                                        console.log(JSON.stringify(data));
                                                            }
                                });
                            });
                        });
                        console.log(data);
                        </script>



                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="basement" class="basement"> <!-- подвал -->
    <div class="container"> <!--  -->
        <div class="row">
            <div class="col-lg-12"> <!--  -->
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>
