<% include partials/header %>

<section id="content__personal" class="content">
    <div id="main__content" class="container">
        <div class="row">
            <div class="col-lg-4">
                <ul class="accordion-menu">
                    <li>
                        <a class="link" href="/">
                            <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i>
                                Главная страница
                                <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
                        </a>
                    </li>

                    <li>
                        <a class="link" href="../trash/cabinet.html">
                            <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i>
                                Список экспертов
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                        </a>
                    </li>

                    <li>
                        <div class="dropdownlink"><i class="fa fa-quote-left" aria-hidden="true"></i>
                            Список олимпиад
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </div>
                        <ul class="submenuItems">
                            <li><a href="#">олимпиада 1</a></li>
                            <li><a href="#">олимпиада 2</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="link" href="#">
                            <div class="dropdownlink"><i class="fa fa-road" aria-hidden="true"></i>
                                Редактирование новостей
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="col-lg-8">
                <div class="content__text__personal">
                    <div class="admin__olympiad__padding">

                        <!-- див, который мы прячем (список учеников)-->
                        <div id="hideTable">

                            <div class="olympiad__name">
                                Олимпиада 1
                            </div>


                            <%
                            var jsonSchoolboy =  {
                                "users": [{
                                    "id" : 0,
                                    "link" : " https://www.google.ru/search?newmg",
                                    "SchoolboyName": "Илья",
                                    "SchoolboySurname": "Мельников",
                                    "SchoolboyExpert" : "Павел Петрович"
                                }, {
                                    "id" : 1,
                                    "link" : " https://www.google.ru/search?newmg",
                                    "SchoolboyName": "Warface",
                                    "SchoolboySurname": "Сила",
                                    "SchoolboyExpert" : "Петро Порошенко"
                                },
                                    {
                                    "id" : 2,
                                    "link" : " https://www.google.ru/search?newmg",
                                    "SchoolboyName": "json",
                                    "SchoolboySurname": "Могила",
                                    "SchoolboyExpert" : "Слава Онэмэ"
                                }]
                            };
                            %>


                            <table class="tableSchoolboy" id="Schoolboys">
                                <tr>
                                    <th>ФИО</th>
                                    <th>Документ</th>
                                    <th>Проверяющий</th>
                                    <th>Редактирование</th>
                                </tr>


                                <% if (jsonSchoolboy.users.length > 0){
                                for (var i = 0; i < jsonSchoolboy.users.length; i++) { %>

                                <tr>
                                    <td>
                                        <p  class="tableSchoolboyColumnFIO">
                                            <%= jsonSchoolboy.users[i].SchoolboyName%>
                                            <%= jsonSchoolboy.users[i].SchoolboySurname%>
                                        </p>
                                    </td>
                                    <td>
                                       <a href="">
                                           <p class="tableSchoolboyColumnLink">
                                            <%= jsonSchoolboy.users[i].link%>
                                           </p>
                                       </a>
                                    </td>
                                    <td class="tableSchoolboyColumn">
                                        <p class="tableSchoolboyColumnExpert">
                                            <%= jsonSchoolboy.users[i].SchoolboyExpert%>
                                        </p>
                                    </td>
                                    <th id="tableButton">
                                        <button id="<%= jsonSchoolboy.users[i].id%>" class="tableSchoolboyButton" type="submit">
                                            ИЗМЕНИТЬ
                                        </button>
                                    </th>
                                </tr>

                                <%  }
                                } else { %>

                                <p>
                                    НЕТ ШКОЛЬНИКОВ
                                </p>

                                <% } %>

                            </table>

                        </div>

                        <div id="hideSchoolboy" class="hide">

                                <ul class="text d-flex justify-content-start" >
                                    <li class="content__about__icon">
                                        <p>
                                            <img src="https://png.icons8.com/ultraviolet/100/000000/guest-male.png">
                                        </p>
                                    </li>
                                    <li class="content__about__text__personal">
                                        <div id="schoolboyName">
                                            Имя
                                        </div>
                                        <div id="schoolboyLastName">
                                            Фамилия
                                        </div>
                                        <div id="schoolboyPatronymic">
                                            Отчество
                                        </div>
                                    </li>
                                </ul>

                            <div class="schoolboyHolder">


                                <table class="tableSchoolboy" id="Schoolboys">
                                    <tr>
                                        <td> Школа </td>
                                        <td>
                                            <div id="schoolboySchool">
                                                Школа
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> Класс </td>
                                        <td>
                                            <div id="schoolboyLvl">
                                                Класс
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> Дата рождения </td>
                                        <td>
                                            <div id="schoolboyDate">
                                                Дата
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> Документ </td>
                                        <td>
                                            <div id="schoolboyDocument">
                                                Документ
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> Номинация </td>
                                        <td>

                                            <select class="selectNomination" id="selectNomination" onchange="getSelectValueNomination()">
                                            </select>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td> Эксперт </td>
                                        <td>

                                            <select class="selectExpert" id="selectExpert" onchange="getSelectValueExpert()">
                                            </select>

                                        </td>
                                    </tr>
                                </table>
                                <div class="d-flex flex-row">
                                    <div class="p-2">
                                        <button class="dataSchoolboyButton" type="submit">
                                            Сохранить изменения
                                        </button>
                                    </div>
                                    <div class="p-2">
                                        <button class="cancelSchoolboyButton" type="submit">
                                            Отмена
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- скрипт для получения выбранного option -->


<!-- скрипт для кнопки изменить-->
<script>
    $(document).ready(function(){

        $('.tableSchoolboyButton').click(function(e) {


            // $( "#contentTableSchoolboyResponse" ).append( "" );

            window.selectedButtonId =  $(this).attr('id');
            // e.preventDefault();


            var data = {};
            data.id = selectedButtonId;
            data.some = 'some text value';

            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/personalOlympiadSchoolboy',
                success: function(data) {

                    var jsonSchoolboyName = document.getElementById("schoolboyName");
                    jsonSchoolboyName.innerHTML = data.schoolboy.name;

                    var jsonSchoolboyLastName = document.getElementById("schoolboyLastName");
                    jsonSchoolboyLastName.innerHTML = data.schoolboy.lastName;

                    var jsonSchoolboyPatronymic = document.getElementById("schoolboyPatronymic");
                    jsonSchoolboyPatronymic.innerHTML = data.schoolboy.patronymic;

                    var jsonSchoolboySchool = document.getElementById("schoolboySchool");
                    jsonSchoolboySchool.innerHTML = data.schoolboy.school;

                    var jsonSchoolboyLvl = document.getElementById("schoolboyLvl");
                    jsonSchoolboyLvl.innerHTML = data.schoolboy.lvl;

                    var jsonSchoolboyDate = document.getElementById("schoolboyDate");
                    jsonSchoolboyDate.innerHTML = data.schoolboy.date;

                    var jsonSchoolboyDocument = document.getElementById("schoolboyDocument");
                    jsonSchoolboyDocument.innerHTML = data.schoolboy.document;

                    $( '.selectNomination' ).append( '<option value="' + data.schoolboy.nomination + '">' + data.schoolboy.nomination + '</option>' );
                    $( '.selectExpert' ).append( '<option value="' + data.schoolboy.expert.idExpert + '">' + data.schoolboy.expert.name + ' ' + data.schoolboy.expert.lastName + '</option>' );

                    for ( var i = 0; i < data.nominations.length; i++){
                        $( '.selectNomination' ).append( '<option value="' + data.nominations[i] + '">' + data.nominations[i] + '</option>');
                    }

                    for ( var i = 0; i < data.listOfExperts.length; i++){
                        $( '.selectExpert' ).append( '<option value="' + data.listOfExperts[i].idExpert + '">' + data.listOfExperts[i].name +' '+ data.listOfExperts[i].lastName + '</option>');
                    }

                    $("#hideTable").addClass("hide");
                    $("#hideSchoolboy").removeClass("hide");

                    console.log('success');

                }
            });
        });
    });
</script>

<script>
    var selectNomination = document.getElementById('selectNomination');
    window.selectedValueNomination = selectNomination.options[0];
    console.log(selectedValueNomination);

    function getSelectValueNomination() {
        for (var i = 0; i < selectNomination.options.length; i++) {
            var option = selectNomination.options[i];
            if(option.selected) {
                selectedValueNomination = option.value;
                console.log(selectedValueNomination);
            }
        }
    }

    var selectExpert = document.getElementById('selectExpert');
    window.selectedValueExpert = selectExpert.options[0];
    console.log(selectedValueExpert);

    function getSelectValueExpert() {
        for (var i = 0; i < selectExpert.options.length; i++) {
            var option = selectExpert.options[i];
            if(option.selected) {
                selectedValueExpert = option.value;
                console.log(selectedValueExpert);
            }
        }
    }
</script>

<!-- скрипт для кнопки сохранить изменения-->
<script>
    $(document).ready(function(){
        $('.dataSchoolboyButton').click(function(e) {

            // var selectedButtonId =  $(this).attr('id');
            // e.preventDefault();

            var dataJson = {};
            dataJson.id = selectedButtonId;
            dataJson.nomination = selectedValueNomination;
            dataJson.expert = selectedValueExpert;

            $.ajax({
                type: 'POST',
                data: JSON.stringify(dataJson),
                contentType: 'application/json',
                url: '/personalOlympiad',
                success: function(something) {

                    $("#hideSchoolboy").addClass("hide");
                    $("#hideTable").removeClass("hide");

                    $( '#selectExpert, #selectNomination' ).find( 'option' )
                        .remove()

                    console.log('success');
                }
            });

        });
    });
</script>

<!-- скрипт для кнопки отменить-->
<script>
    $(document).ready(function(){
        $('.cancelSchoolboyButton').click(function(e) {

            $("#hideSchoolboy").addClass("hide");
            $("#hideTable").removeClass("hide");

            $( '#selectExpert, #selectNomination' ).find( 'option' )
                .remove()

        });
    });
</script>

<section id="basement" class="basement"> <!-- подвал -->
    <div class="container"> <!--  -->
        <div class="row">
            <div class="col-lg-12"> <!--  -->
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>
